@import "../styles/tokens.scss";
.icon {
  fill: $color-core-neutral-7;
  margin: auto;

  &:disabled {
    pointer-events: none;
  }
}

.size-x-large {
  height: 32px;
  width: 32px;
}

.size-large {
  height: 24px;
  width: 24px;
}

.size-medium {
  height: 20px;
  width: 20px;
}

.size-default,
.size-small {
  height: 16px;
  width: 16px;
}

.size-tiny {
  height: 8px;
  width: 8px;
}

.fill-info {
  fill: $color-base-blue;
}

.fill-primary {
  fill: $color-base-purple;
}

.fill-success {
  fill: $color-base-green;
}

.fill-danger {
  fill: $color-base-red;
}

.fill-warning {
  fill: $color-base-orange;
}

.fill-inverted {
  fill: $color-base-white;
}

.fill-default {
  fill: $color-core-neutral-7;
}

.fill-disabled {
  fill: $color-code-neutral-5;

  &-light {
    fill: $color-code-neutral-4;
  }
}

