@import "../styles/tokens.scss";

.icon {
  display: inline-flex;
  margin: auto;

  &:disabled {
    pointer-events: none;
  }
}

.size-large {
  height: 64px;
  width: 64px;
}

.size-medium {
  height: 24px;
  width: 24px;
}

.size-default {
  height: 16px;
  width: 16px;
}

.size-small {
  height: 12px;
  width: 12px;
}

.size-tiny {
  height: 8px;
  width: 8px;
}

.tint-blue {
  fill: $color-base-blue;
}

.tint-green {
  fill: $color-base-green;
}

.tint-red {
  fill: $color-base-red;
}

.tint-white {
  fill: $color-base-white;
}

.tint-neutral {
  fill: $color-font-1;
}

.tint-inherit {
  fill: currentcolor;
}
