@import "~@cockroachlabs/design-tokens/dist/web/tokens";

.size-small {
  height: 40px;
  width: 40px;
}

.size-medium {
  height: 48px;
  width: 48px;
}

.size-large {
  height: 56px;
  width: 56px;
}

.fill-default {
  fill: $color-core-neutral-5;
}
.fill-primary {
  fill: $color-base-purple;
}
