@import "../styles/tokens.scss";

$input-height: 40px;
$input-border-spacing: 3px;
$border-width: 1px;
$input-number-width: 160px;
$input-text-width: 280px;

// state, hoverColor, focusColor
$state-colors:
  "active" $color-core-neutral-5 $color-base-blue,
  "invalid" $color-base-red,
  "disabled" $color-font-4;

@function exclBorderWidth($total-width: 0, $spacing: $input-border-spacing, $border: $border-width) {
  @return $total-width - ($border + $spacing) * 2;
}
