@import "../styles/tokens.scss";

.new-password-input-container {
  position: relative;
  margin-bottom: 16px;
}

.new-password-validation-container {
  column-count: 2;
  margin-bottom: crl-gutters(3);
  padding: 0;
}

.new-password-validation-message {
  align-items: flex-start;
  display: flex;
  font-size: 12px;
}

.new-password-validation-icon {
  padding-top: crl-gutters(0.5);
  display: inline-flex;
  opacity: 0.35,
}

.new-password-validation-error,
.new-password-validation-success {
  padding-left: crl-gutters(0.75);
  color: $color-font-2;
}

.new-password-validation-error {
  color: $color-font-4;
}
