@import "./tokens.scss";

.new-password-input-container {
  position: relative;
  margin-bottom: 16px;
}

.new-password-validation-container {
  display: flex;
  flex-flow: column wrap;
  list-style: none;
  margin-bottom: crl-gutters(3);
  padding: 0;
}

.new-password-validation-message {
  align-items: flex-start;
  display: flex;
  font-size: 12px;
}

.new-password-validation-label {
  padding-left: crl-gutters(0.75);
}
