.crl-new-password-input {
  &__container {
    position: relative;
    margin-bottom: 16px;
  }

  &__validations {
    display: flex;
    flex-flow: column wrap;
    list-style: none;
    margin-bottom: crl-gutters(3);
    padding: 0;
  }

  &__validation {
    align-items: flex-start;
    display: flex;
    font-size: 12px;
  }

  &__validation-icon__container {
    opacity: 0.35;
    padding-top: crl-gutters(0.75);
    padding-right: crl-gutters(1.5);
    padding-bottom: 0;
    padding-left: 0;
    transition: opacity 0.35s ease;
    &.valid__container {
      opacity: 1;
    }
  }
}

.crl-existing-password-input {
  &__label {
    display: flex;
    justify-content: space-between;

    &--inline-link {
      @include crl-type-caption--strong;
    }
  }
}

