@import "../styles/tokens.scss";
@import "./constants.scss";
@import "../Typography/Text.module.scss";

.crl-input {
  outline: none;
  @extend .type-body;

  &:not([type="checkbox"]) {
    display: block;
    width: 100%;
    padding: crl-gutters(1);
    color: $color-font-2;
    background-color: $color-base-white;
    border-width: 1px;
    border-style: solid;
    border-color: $color-core-neutral-3;
    border-radius: $crl-border-radius;
    @include crl-transition(color, box-shadow, border-color, background-color);
    resize: none;

    &:not(textarea) {
      height: $crl-input-height;
    }

    &::placeholder {
      color: $color-core-neutral-3;
      @include crl-transition(color);
    }

    &:hover {
      background-color: $color-base-white;
      border-color: $color-core-neutral-4;

      &::placeholder {
        color: $color-font-4;
      }
    }

    &:disabled {
      background-color: $color-core-neutral-1;
      color: $color-core-neutral-5;
      border-color: $color-core-neutral-3;
    }
  }

  // box-shadows work for checkboxes
  // border, color, and background do not
  &:focus {
    background-color: $color-base-white;
    color: $color-font-2;
    border-color: $color-core-blue-4;
    @include crl-box-shadow(0, 0, 4px, 2px, rgba($color-core-blue-4, 0.4));
  }

  // For more information on how to style a checkbox, see:
  // https://developer.mozilla.org/en-US/docs/Learn/Forms/Advanced_form_styling
  &[type="checkbox"] {
    margin-right: crl-gutters(1);
  }

  &.invalid {
    background-color: rgba($color-base-red, 0.05);
    color: $color-base-red;
    border-color: $color-base-red;
  
    &:focus {
      @include crl-box-shadow(0, 0, 4px, 2px, rgba($color-base-red, 0.4));
    }
  }
}

.checkbox-container {
  display: flex;
  align-items: center;
  label {
    margin-bottom: 0;
    @include crl-type-body;
    color: $crl-base-text;

    &--human-readable {
      display: block;
      @include crl-type-body--strong;
    }
  }
}

.prefix {
  padding-left: 30px;
}

.suffix {
  padding-right: 30px;
}

.prefix,
.suffix {
  display: flex;
  position: absolute;
  height: $crl-input-height;
  top: 0;
  vertical-align: middle;
}

.required:after {
  content: " *";
  color: $color-base-red;
}

.input-reference:not([type="checkbox"]):disabled {
  color: $color-core-neutral-7;
  background-color: $color-core-neutral-1;
  border-color: $color-core-neutral-1;
}

.inline {
  width: 100%;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.crl-form-group {
  .inline {
    margin-right: 6%;
    width: 47%;

    &:last-child {
      margin-right: 0;
    }
  }
}

.message {
  padding-top: crl-gutters(1);

  &-info {
    @extend .type-caption;
  }

  &-error {
    @extend .type-error;

    & > .crl-icon__container {
      padding-right: crl-gutters(1);
    }
  }
}

.affix-container {
  position: relative;
}

.existing-password-label {
  display: flex;
  justify-content: space-between;
}
