@import "../styles/tokens.scss";

.input {
  height: 40px;
  border-radius: 3px;
  font-family: Source Sans Pro, sans-serif; // TODO (koorosh): replace with token value
  font-size: 14px; // TODO (koorosh): replace with token value (default font size)
  line-height: 22px;
  border: solid 1px $crl-neutral-4;
  background-color: $crl-base-white;
  padding: 0 crl-gutters(1.5);

  &:focus {
    border: solid 1px $crl-base-blue;
  }

  &:hover {
    border: solid 1px $crl-neutral-5;
  }
}

.invalid {
  border: solid 1px $crl-base-red;
  background-color: $crl-red-1;
  color: $crl-base-red;

  &:focus, &:hover {
    border: solid 1px $crl-base-red;
  }
}

.disabled {
  background: $crl-neutral-1;
  color: $crl-base-text--light;
  border: solid 1px $crl-neutral-3;
  cursor: default;

  &:focus, &:hover {
    border: solid 1px $crl-neutral-3;
  }
}
