@import "../styles/tokens.scss";

.root {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  border-left: solid crl-gutters(0.5);
  border-radius: crl-gutters(0.5);
  padding: crl-gutters(1.5) crl-gutters(3) crl-gutters(1.5) 0;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.title {
  margin-bottom: crl-gutters(0.5);
}

.icon-container {
  padding: 0 crl-gutters(2);
}

.intent-info {
  border-left-color: $component-inline-alert-border-color-info;
  background-color: $component-inline-alert-background-color-info;
}

.intent-danger {
  border-left-color: $component-inline-alert-border-color-danger;
  background-color: $component-inline-alert-background-color-danger;
}

.intent-warning {
  border-left-color: $component-inline-alert-border-color-warning;
  background-color: $component-inline-alert-background-color-warning;
}

.intent-success {
  border-left-color: $component-inline-alert-border-color-success;
  background-color: $component-inline-alert-background-color-success;
}
