@import "../../core/index.module.scss";

.hover-area {
  white-space: pre-line;
  cursor: pointer;
  font-family: $font-family--monospace;
  font-size: $font-size--small;
  color: $colors--neutral-6;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.hover-area:hover {
  text-decoration: underline;
  color: #0788ff;
}
