@import "../styles/tokens.scss";

// stroke values depend on viewBox of svg file (viewBox="0 0 100 100")
svg.spinner {
  circle {
    fill: transparent;
    stroke: $color-core-neutral-6;
    stroke-linecap: round;
    stroke-dasharray: 220;
    stroke-dashoffset: 280;
    stroke-width: 10px;
    transform-origin: 50% 50%;
    animation: spinner 3s linear infinite;
  }

  &.fill-info circle {
    stroke: $color-base-blue;
  }

  &.fill-primary circle {
    stroke: $color-base-purple;
  }

  &.fill-success circle {
    stroke: $color-base-green;
  }

  &.fill-danger circle {
    stroke: $color-base-red;
  }
  &.fill-warning circle {
    stroke: $color-base-orange;
  }
  &.fill-inverted circle {
    stroke: $color-base-white;
  }
}

.size-default {
  width: 40px;
  height: 40px;
}

.size-x-small {
  width: 12px;
  height: 12px;
}

.size-small {
  width: 16px;
  height: 16px;
}
.size-medium {
  width: 24px;
  height: 24px;
}

.size-large {
  width: 64px;
  height: 64px;
}

@keyframes spinner {
  0% {
    stroke-dashoffset: 25;
    transform: rotate(0deg);
  }

  50% {
    stroke-dashoffset: 125;
    transform: rotate(720deg);
  }

  100% {
    stroke-dashoffset: 25;
    transform: rotate(1080deg);
  }
}
