@import "../styles/tokens.scss";

//
// Tooltips
// --------------------------------------------------

$border-radius-base: 3px;
$tooltip-border-width: 1px;
$tooltip-shadow-width: 0px;

$tooltip-arrow-width: 10px;
$tooltip-arrow-half-width: 5px;

// Base class
.Tooltip {
  @include crl-depth(1);
  padding: 8px 10px;
  text-align: left;
  text-decoration: none;
  border-radius: $border-radius-base;
  border: $tooltip-border-width solid;
  max-width: 300px;
  visibility: hidden;
  position: absolute;

  &[data-show] {
    visibility: visible;
  }

  &[data-popper-placement^="top"] > .arrow,
  &[data-popper-placement^="top"] > .arrowInner {
    bottom: -$tooltip-arrow-half-width;
  }

  &[data-popper-placement^="bottom"] > .arrow,
  &[data-popper-placement^="bottom"] > .arrowInner {
    top: -$tooltip-arrow-half-width;
  }

  &[data-popper-placement^="left"] > .arrow,
  &[data-popper-placement^="left"] > .arrowInner {
    right: -$tooltip-arrow-half-width;
  }

  &[data-popper-placement^="right"] > .arrow,
  &[data-popper-placement^="right"] > .arrowInner {
    left: -$tooltip-arrow-half-width;
  }
}

.arrow,
.arrowInner {
  position: absolute;
  width: $tooltip-arrow-width;
  height: $tooltip-arrow-width;
  &:before {
    content: "";
    position: absolute;
    width: $tooltip-arrow-width;
    height: $tooltip-arrow-width;
    transform: rotate(45deg);
    border: $tooltip-border-width solid;
  }
}

.arrow:before {
  @include crl-depth(1);
  z-index: -5;
}

.arrowInner:before {
  z-index: 5;
}

@mixin crl-tooltip-style($bg, $border, $color) {
  border-color: $border;
  background-color: $bg;
  color: $color;
  .arrow:before {
    border-color: $border;
    background-color: $bg;
  }
  .arrowInner:before {
    background-color: $bg;
    border-color: transparent;
  }
}

//
// Default style
// --------------------------------------------------
.default {
  @include crl-tooltip-style(
    $color-core-neutral-6,
    $color-core-neutral-6,
    $color-base-white
  );
}
//
// Dark style
// --------------------------------------------------
.dark {
  @include crl-tooltip-style(
    $color-base-black,
    $color-base-black,
    $color-base-white
  );
}
//
// Light style
// --------------------------------------------------
.light {
  @include crl-tooltip-style(
    $color-base-white,
    $color-core-neutral-2,
    $color-font-3
  );
}
