@import "../styles/tokens.scss";

@mixin disabled {
  opacity: 0.7;
}

.button {
  align-items: center;
  border-width: 1px;
  border-radius: $crl-border-radius;
  box-sizing: border-box;
  display: inline-flex;
  font-family: "Source Sans Pro", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  font-weight: 600;
  letter-spacing: 0.02em;
  justify-content: center;
  outline: none;
  text-decoration: none;
  @include crl-transition(background-color, border-color, box-shadow);

  // TODO(j-low): update with type tokens when available
  font-size: 14px;
  line-height: 24px;

  &:hover {
    cursor: pointer;

    &:disabled {
      cursor: default;

      &:hover {
        cursor: not-allowed;
      }
    }
  }

  &:focus {
    &:active {
      box-shadow: none;
    }
  }

  &:disabled {
    @include disabled;
    &:hover {
      cursor: not-allowed;
    }
  }

  &.intent-primary {
    background-color: $component-button-primary-background-color-base;
    color: $component-button-primary-font-color-base;
    border-width: 1px;
    border-style: solid;
    border-color: $component-button-primary-border-color-base;

    &:hover {
      background-color: crl-darken(
        $component-button-primary-background-color-hover
      );
      border-color: crl-darken($component-button-primary-border-color-hover);
      color: $component-button-primary-font-color-hover;
    }

    &:active {
      background-color: crl-darken(
        $component-button-primary-background-color-active
      );
      border-width: 1px;
      border-color: crl-darken($component-button-primary-border-color-active);
    }

    &:focus {
      background-color: $component-button-primary-background-color-focused;
      border-width: 1px;
      border-color: crl-darken($component-button-primary-border-color-focused);
      @include crl-box-shadow(
        0,
        0,
        0,
        3px,
        rgba($component-button-primary-shadow-color-focused, 0.4)
      );
    }

    &:disabled {
      background-color: $component-button-primary-background-color-disabled;
      border-color: $component-button-primary-border-color-disabled;
    }
  }

  &.intent-success {
    background-color: $component-button-success-background-color-base;
    color: $component-button-success-font-color-base;
    border-width: 1px;
    border-style: solid;
    border-color: $component-button-success-border-color-base;

    &:hover {
      background-color: crl-darken(
        $component-button-success-background-color-hover
      );
      border-color: crl-darken($component-button-success-border-color-hover);
      color: $component-button-success-font-color-hover;
    }

    &:active {
      background-color: crl-darken(
        $component-button-success-background-color-active
      );
      border-width: 1px;
      border-color: crl-darken($component-button-success-border-color-active);
    }

    &:focus {
      background-color: $component-button-success-background-color-focused;
      border-width: 1px;
      border-color: crl-darken($component-button-success-border-color-focused);
      @include crl-box-shadow(
        0,
        0,
        0,
        3px,
        rgba($component-button-success-shadow-color-focused, 0.4)
      );
    }

    &:disabled {
      background-color: $component-button-success-background-color-disabled;
      border-color: $component-button-success-border-color-disabled;
    }
  }

  &.intent-danger {
    background-color: $component-button-danger-background-color-base;
    color: $component-button-danger-font-color-base;
    border-width: 1px;
    border-style: solid;
    border-color: $component-button-danger-border-color-base;

    &:hover {
      background-color: crl-darken(
        $component-button-danger-background-color-hover
      );
      border-color: crl-darken($component-button-danger-border-color-hover);
      color: $component-button-danger-font-color-hover;
    }

    &:active {
      background-color: crl-darken(
        $component-button-danger-background-color-active
      );
      border-color: crl-darken($component-button-danger-border-color-active);
    }

    &:focus {
      background-color: $component-button-danger-background-color-focused;
      border-width: 1px;
      border-color: crl-darken($component-button-danger-border-color-focused);
      @include crl-box-shadow(
        0,
        0,
        0,
        3px,
        rgba($component-button-danger-shadow-color-focused, 0.4)
      );
    }

    &:disabled {
      background-color: $component-button-danger-background-color-disabled;
      border-color: $component-button-danger-border-color-disabled;
    }
  }

  &.intent-secondary {
    background-color: $component-button-secondary-background-color-base;
    border-width: 1px;
    border-style: solid;
    border-color: $component-button-secondary-border-color-base;
    color: $component-button-secondary-font-color-base;

    &:hover {
      background-color: $component-button-secondary-background-color-hover;
      border-color: $component-button-secondary-border-color-hover;
    }

    &:active {
      background-color: $component-button-secondary-background-color-active;
      border-width: 1px;
      border-color: $component-button-secondary-border-color-active;
    }

    &:focus {
      background-color: $component-button-secondary-background-color-focused;
      border-width: 1px;
      border-color: $component-button-secondary-border-color-focused;
      @include crl-box-shadow(
        0,
        0,
        0,
        3px,
        $component-button-secondary-shadow-color-focused
      );
    }

    &:disabled {
      background-color: $component-button-secondary-background-color-disabled;
      border-color: $component-button-secondary-border-color-disabled;
      color: $component-button-secondary-font-color-disabled;
    }
  }

  &.intent-tertiary {
    background-color: transparent;
    color: $component-button-tertiary-font-color-base;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;

    &:hover {
      color: $component-button-tertiary-font-color-hover;

      &:active,
      &:focus {
        color: $component-button-tertiary-font-color-active;
      }

      svg {
        fill: $component-button-tertiary-font-color-hover;
      }
    }

    &:active {
      border-color: $component-button-tertiary-border-color-active;
    }

    &:focus {
      border-color: $component-button-tertiary-border-color-focused;
      @include crl-box-shadow(
        0,
        0,
        0,
        3px,
        rgba($component-button-tertiary-shadow-color-focused, 0.15)
      );
    }

    &:disabled {
      color: $component-button-tertiary-font-color-disabled;

      svg {
        fill: $component-button-tertiary-font-color-disabled;
      }
    }

    svg {
      fill: $component-button-tertiary-font-color-base;
    }
  }
}

.size-standard {
  height: $crl-input-height;
  padding: crl-gutters(1) crl-gutters(1.5);
}

.size-small {
  height: $crl-input-height-small;
  padding: crl-gutters(0.5) crl-gutters(1.5);
}

.fluid {
  width: 100%;
}
