.brand-cockroach-labs,
.brand-cockroachcloud {
  &.size-default {
    height: 36px;
    width: 256px;
  }

  &.size-small {
    height: 26px;
    width: 184px;
  }
}

.brand-cockroachdb {
  &.size-default {
    height: 36px;
    width: 216px;
  }

  &.size-small {
    height: 26px;
    width: 156px;
  }
}
