@import "../styles/tokens.scss";

.badge {
  border-radius: 3px;
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  padding: crl-gutters(0.625) crl-gutters(1);
  vertical-align: crl-gutters(0.5);
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.intent-neutral {
  background: $color-background-badge-neutral;
  color: $color-font-badge-neutral;
}

.intent-success {
  background: $color-background-badge-success;
  color: $color-font-badge-success;
}

.intent-warning {
  background: $color-background-badge-warning;
  color: $color-font-badge-warning;
}

.intent-danger {
  background: $color-background-badge-danger;
  color: $color-font-badge-danger;
}

.intent-info {
  background: $color-background-badge-info;
  color: $color-font-badge-info;
}

.noTransform {
  text-transform: none;
}

.transformCase-none {
  text-transform: none;
}

.transformCase-uppercase {
  text-transform: uppercase;
}
