@import "../styles/tokens.scss";

@mixin selectable-border($color) {
  box-sizing: border-box;
  border: 2px solid $color;
}

.avatar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-family: Source Sans Pro, sans-serif; // TODO (koorosh): replace with fonts from tokes
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
}

.avatar img {
  height: 100%;
}

.intent-default {
  background: $color-background-avatar-default;
  color: $color-core-neutral-7;
}

.intent-active {
  background: $color-background-avatar-focus;
  color: $color-base-blue;
}

.intent-pending {
  background: $color-background-avatar-pending;
  color: $color-core-orange-4;
}

.intent-invalid {
  background: $color-background-avatar-invalid;
  color: $color-core-red-4;
}

.size-default {
  width: 40px;
  height: 40px;
  font-size: 14px;
  letter-spacing: 0.1px;
}

.size-small {
  width: 32px;
  height: 32px;
  font-size: 12px;
  letter-spacing: 0.3px;
}

.noTransform {
  text-transform: none;
}

.transformCase-none {
  text-transform: none;
}

.transformCase-uppercase {
  text-transform: uppercase;
}

.disabled {
  background: $color-background-avatar-disabled;
  color: $color-font-avatar-disabled;

  &:focus,
  &:hover {
    border: none;
  }
}

.selectable:not(.disabled) {
  &:focus,
  &:hover {
    &.intent-default {
      @include selectable-border($color-border-avatar-default);
    }

    &.intent-active {
      @include selectable-border($color-border-avatar-focus);
    }

    &.intent-pending {
      @include selectable-border($color-border-avatar-pending);
    }

    &.intent-invalid {
      @include selectable-border($color-border-avatar-invalid);
    }
  }
}
